.wrapper {
    padding: 14px 42px;
    
    display: flex;
    flex-direction: column;
    gap: 22px;

    .title {
        p:first-child {
            font-size: 24px;
            font-weight: 300;
            font-family: var(--highlight-font);
        }
        p:last-child {
            font-size: 18px;
            color: var(--dark-gray-color);
        }
    }

    .favorite-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .item {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .picture {
                width: 150px;
                height: 150px;

                img {
                    height: 100%;
                    width: 100%;

                    object-fit: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 14px 14px;
    }
}