<div class="wrapper">
    <div class="title">
        <p>тут знаходяться ваші збережені шмотки</p>
        <p>ми сповістимо вас, якщо збережений одяг, якого зараз немає в наявності, з'явиться на складі</p>
    </div>
    <div class="favorite-list">
        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шааааааааааааааааааарф</p>
            </div>
        </div>

        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шааааааааааааааааааарф</p>
            </div>
        </div>
        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шааааааааааааааааааарф</p>
            </div>
        </div>
        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шааааааааааааааааааарф</p>
            </div>
        </div>
        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шааааааааааааааааааарф</p>
            </div>
        </div>
        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шааааааааааааааааааарф</p>
            </div>
        </div>
    </div>
</div>