// * {
//     outline: 1px red solid;
// }

.wrapper {
    padding: 14px 22px;

    .clothes-feed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        // gap: 22px;
        
        .card {
            padding: 12px;

            width: 50%;
            height: 450px;

            box-sizing: border-box;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .clothes-feed {
            .card {
                width: 100%;
                padding: 0px;
            }
        }
    }
    
}