<div class="wrapper">
    <div class="clothes-feed">
        @for (item of this.clothesList(); track $index) {
            <div class="card">
                <app-clothes-card
                [product]="item"
                >
                </app-clothes-card>
            </div>
        }
        
    </div>
    <div class="null-placeholder" *ngIf="this.itemsCount() < 1">
        <p>Не знайшлося товарів за данною категорією </p>
    </div>
    <div class="pagination">
        
    </div>
</div>