<div class="wrapper">
    <div class="title">
        <p>твоя корзина</p>
    </div>
    
    <div class="content">
        @for (item of this.cartList; track $index) {
            <div class="item">
                <div class="picture">
                    <!-- <img src="assets/reyechka.png"> -->
                    <img [src]="item.image[0]">
                </div>
                <div class="other">
                    <div class="info">
                        <div class="name">
                            <p>{{item.name}}</p>
                        </div>
                        <div class="price">
                            <p>{{item.price * item.quantity}} ({{item.price}}) грн.</p>
                        </div>
                        <div class="quantity">
                            <p>{{item.quantity}} шт.</p>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button (click)="addToCart(item._id)">
                            <img src="icons/general/plus.svg">
                        </button>
                        <button (click)="removeOneFromCart(item._id)">
                            <img src="icons/general/dash.svg">
                        </button>
                        <button (click)="removeFromCart(item._id)">
                            <img src="icons/general/delete.svg">
                        </button>
                    </div>
                </div>   
            </div>
        }
    </div>

    <div class="actions">
        <div [class.visibleActions]="itemsInCart">
            <p>загальна сума корзини: {{this.getTotal(this.cartList)}} грн.</p>
            <a href="cart"><button>оплатити</button></a>
        </div>
        <div [class.visibleActions]="!itemsInCart">
            <p>в твоїй корзині ще нічо немає</p>
            <a href="clothes"><button>перейти до шмоток</button></a>
        </div>
    </div>
</div>