// * {
//     outline: 1px red solid;
// }

.wrapper {
    padding: 14px 24px;

    background-color: var(--white-color);
    box-shadow: var(--medium-reverse-shadow), var(--medium-shadow);

    display: flex;
    flex-direction: column;
    gap: 14px;

    box-sizing: border-box;

    .title {
        p {
            font-size: 24px;
            font-weight: 400;

            user-select: none;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item {
            display: flex;
            flex-direction: row;
            gap: 18px;

            .picture {
                height: 150px;
                width: 150px;
                min-height: 150px;
                min-width: 150px;

                img {
                    height: 100%;
                    width: 100%;
                    
                    object-fit: cover;
                    user-select: none;
                }
            }
            .other {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                .info {
                    padding: 8px 0px;
    
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 6px;

                    width: max-content;
    
                    div {
                        p {
                            font-size: 18px;
                            font-weight: 600;
                            
                        }
                    }
                    .name {
                        a {
                            p {
                                position: relative;
                                width: max-content;
                            }
                            p::before {
                                content: "";
                                display: block;
                                position: absolute;
                    
                                width: 0%;
                                height: 3px;
                                
                                bottom: -4px;
                                
                                background-color: var(--yellow-color);
                                transition: 0.2s ease-in-out;
                            }
                            p:hover::before {
                                width: 100%;
                                transition: 0.2s ease-in-out;
                            }
                        }
                    }
                    .price {
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: var(--dark-gray-color);
                        }
                    }
                    .quantity {
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: var(--dark-gray-color);
                        }
                    }                
                }
    
                .item-actions {
                    padding: 8px 0px;
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
    
                    button {
                        padding: 5px;
                        width: 38px;
                        height: 38px;
                        box-sizing: border-box;
    
                        display: flex;
    
                        border: none;
                        background-color: var(--white-color);
                        
                        cursor: pointer;
    
                        img {
                            width: 100%;
                            height: 100%;
                            pointer-events: none;
                        }
                    }
                    button:hover {
                        transition: 0.3s;
                        box-shadow: var(--small-shadow);
                    }
                    button:active {
                        transition: 0.2s;
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    .actions {
        div {
            display: flex;
            flex-direction: column;
            gap: 14px;

            p {
                font-weight: 400;
                font-size: 16px;
            }
            button {
                width: 100%;
                padding: 12px 24px;

                font-weight: 600;
                font-size: 16px;

                color: var(--black-color);
                background-color: var(--yellow-color);

                border: none;
                cursor: pointer;
            }
            button:hover {
                transition: 0.3s ease-in;
                background-color: var(--yellow-hover-color);
                box-shadow: var(--small-shadow);
            }
            button:active {
                transition: 0.2s;
                transform: scale(0.98);
            }
        }
    }
}

@media screen and (max-width: 512px) {
    .wrapper {
        padding: 14px;
        
        .content {
            .item {
                flex-direction: column;
                gap: 8px;

                .picture {
                    min-width: initial;
                    min-height: initial;
                    width: 100%;
                    height: 150px;
                }

                .other {
                    flex-wrap: wrap;
                    .item-actions {
                        flex-direction: row;
                    }
                }
            }
        }
    }
}