.wrapper {
    padding: 16px 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;

    .sorting {
        display: flex;
        gap: 8px;

        cursor: pointer;
        user-select: none;

        .title {
            p {
                font-size: 18px;
            }
        }

        .icon {
            width: 16px;
            height: 16px;

            img {
                height: 100%;
                width: 100%;

                user-select: none;
                pointer-events: none;
            }
        }
    }
    .sorting:hover {
        cursor: pointer;
    }
    .sorting:active {
        transition: 0.2s;
        transform: scaleX(0.98);
    }
}