<div class="wrapper">
    <div class="sorting" (click)="changeSorting('')">
        <div class="title">
            <p>за назвою</p>
        </div>
        <div class="icon">
            <img src="icons/general/heart.svg"/>
        </div>
    </div>
    <div class="sorting">
        <div class="title">
            <p>за ціною</p>
        </div>
        <div class="icon">
            <img src="icons/general/heart.svg"/>
        </div>
    </div>
    <div class="sorting">
        <div class="title">
            <p>показувати відсутні товари</p>
        </div>
        <div class="icon">
            <img src="icons/general/heart.svg"/>
        </div>
    </div>
</div>