<div class="wrapper">
    <div class="sorting" (click)="sortingByName()">
        <div class="title">
            <p>за назвою</p>
        </div>
        <div class="icon">
            <img [src]="sortByNameImage"/>
        </div>
    </div>
    <div class="sorting" (click)="sortingByPrice()">
        <div class="title">
            <p>за ціною</p>
        </div>
        <div class="icon">
            <img [src]="sortByPriceImage"/>
        </div>
    </div>
    <div class="sorting" (click)="visibilityOutOfStock()">
        <div class="title">
            <p>показувати відсутні товари</p>
        </div>
        <div class="icon">
            <img [src]="hideOutOfStockImage"/>
        </div>
    </div>
</div>