<div class="wrapper">
    <div class="category-options">
        <p (click)="changeCategory('all')">весь одяг</p>
        <p (click)="changeCategory('tshirt')">футболки</p>
        <p (click)="changeCategory('pants')">штани</p>
        <p (click)="changeCategory('hoodie')">худі</p>
        <p (click)="changeCategory('zipka')">зіпки</p>
        <p (click)="changeCategory('sweater')">светри</p>
        <p (click)="changeCategory('scarf')">шарфи</p>
        <p (click)="changeCategory('cap')">кепки</p>
        <p (click)="changeCategory('accessories')">аксесуари</p>
     </div>
</div>