.wrapper {
    padding: 14px 42px;

    // background-color: var(--dark-color); // MOVED TO CLOTHES PAGE COMPONENT

    .category-options {    
        display: flex;
        flex-direction: column;
        gap: 12px;

        
        p {
            font-size: 18px;
            font-weight: 400;
            color: var(--white-color);

            cursor: pointer;
            user-select: none;
        }
        p:first-child {
            font-weight: 700;
            color: var(--yellow-color);
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 14px 14px;
    }
}