<div class="wrapper">
    <div class="title">
        <h1>Контакти розробника</h1>
    </div>
    
    <div class="content">
        <a href="https://t.me/balkonbabah">
            <div class="contact">
                <p>Telegram</p>
            </div>
        </a>
        <a href="https://github.com/romanenkois">
            <div class="contact">
                <p>GitHub</p>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/illya-romanenko-00a480250/">
            <div class="contact">
                <p>LinkedIn</p>
            </div>
        </a>
    </div>
</div>