<div class="card">
    <div class="picture">
        <a href="product/{{this.product()._id}}">
            <img [src]="this.product().image[0]"> 
            <!-- <img src="assets/reyechka.png"> -->
        </a>
    </div>
    <div class="info">
        <p class="name">{{this.product().name}}</p>
        <!-- <p class="category">{{this.product().category}}</p> -->
        <p class="price">{{this.product().price}} грн.</p>
    </div>
</div>

<!-- http://localhost:4200/product/668c09a5c0e1256172e557a9 -->