<div class="wrapper">
    <div class="picture">
        <!-- <img src="assets/reyechka.png"> -->
        <img *ngIf="product.image" [src]="product.image[0]">
    </div>
    <div class="info">
        <div class="info-wrapper">
            <div class="data">
                <p>{{product.name}}</p>
                <p>{{product.description}}</p>
                <p>{{product.price}} грн.</p>
            </div>
            <div class="actions">
                <button
                class="cartButton"
                (click)="addToCart(product._id, cartButton)">
                    <p #cartButton>додати до корзини</p>
                </button>

                <button
                #favoritesButton
                class="favoritesButton"
                (click)="addToFavorites(product._id, favoritesButton)"
                >
                    <img src="icons/general/heart.svg">
                </button>
            </div>
        </div>
    </div>
</div>