// * {
//     outline: 1px red solid;
// }

.wrapper {
    padding: 14px 0px;

    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 22px;

    .picture {
        width: max-content;
        height: 35vw;
        
        box-sizing: border-box;

        img {
            height: 100%;
            width: 100%;
            
            object-fit: cover;
            background-color: var(--dark-gray-color);
        }
    }
    .info {
        width: 20vw;
        min-width: 250px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .info-wrapper {
            display: flex;
            flex-direction: column;
            gap: 14px;

            .data {
                display: flex;
                flex-direction: column;
                gap: 14px;

                p:nth-child(1) {
                    font-size: 22px;
                    font-weight: 600;
                    color: var(--black-color);
                    min-height: 22px;
                }
                p:nth-child(2) {
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--dark-gray-color);
                    min-height: 18px;
                }
                p:nth-child(3) {
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--dark-gray-color);
                    min-height: 18px;
                }
            }
            .actions {
                display: flex;
                gap: 14px;

                button:first-child {
                    width: 100%;
                    min-width: 250px;
                    padding: 8px 22px;
                    box-sizing: border-box;               
    
                    border: none;
                    background-color: var(--yellow-color);

                    p {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--black-color);

                        user-select: none;
                    }
                }
                button:first-child:hover {
                    box-shadow: var(--small-shadow);
                }
                button:first-child:active {
                    box-shadow: var(--small-shadow);
                    transition: 0.2s;
                    transform: scale(0.98);
                }

                button:last-child {
                    padding: 5px;
                    display: flex;

                    border: none;
                    background-color: var(--white-color);
                    
                    cursor: pointer;

                    img {
                        width: 28px;
                        height: 28px;
                        pointer-events: none;
                    }
                }
                button:last-child:hover {
                    transition: 0.3s;
                    box-shadow: var(--small-shadow);
                }
                button:last-child:active {
                    transition: 0.2s;
                    transform: scale(0.9);
                }
            }            
        }
    }
}

@media screen and (max-width: 1440px) {
    .wrapper {
        .picture {
            height: 500px;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-wrap: wrap;

        .picture {
            width: 100%;
            height: 350px;
        }
    }
}