.wrapper {
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: var(--white-color);
    }
    .router-outlet {
        flex: 1;
        width: 100%;
        
    }
    // .footer {
    // }
}