// * {
//     outline: 1px red solid;
// }

.wrapper {
    padding: 22px 42px;

    display: flex;
    flex-direction: column;
    gap: 22px;

    .step {
        display: flex;
        flex-direction: column;
        gap:12px;

        padding: 12px;        

        background-color: var(--white-color);
        box-shadow: var(--medium-shadow);

        .title {
            p {
                padding-left: 24px;

                font-size: 52px;
                font-weight: 600;
                color: var(--light-gray-color);

                user-select: none;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 22px;

            .caption {
                p {
                    padding-left: 24px;

                    font-size: 24px;
                    font-weight: 600;
                }
            }
            .cart-wrapper {
                padding: 0px 24px;
            }
            .form-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;

                .form {
                    width: 30%;
                    padding: 12px 24px;
                    box-sizing: border-box;

                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    p {
                        width: 100%;
                        font-size: 18px;

                        .notion {
                            color: var(--gray-color);
                        }
                    }

                    input {
                        padding: 8px 16px;
                        width: 100%;
                        box-sizing: border-box;

                        transition: all 0.2s ease-out;

                        outline: none;
                        border: none;
                        border-bottom: 2px solid var(--black-color);
                    }
                    input:focus {
                        border: none;
                        border-bottom: 2px solid var(--gray-color);
                    }

                    .disabled-form {
                        background-color: var(--gray-color);
                        cursor: not-allowed;
                    }
                }
            }
            .actions {
                padding: 0px 24px;

                button {
                    padding: 12px 42px;

                    border: none;
                    background-color: var(--yellow-color);

                    font-weight: 600;
                    font-size: 16px;
                }
                button:hover {
                    transition: 0.2s;
                    background-color: var(--yellow-hover-color);
                }
                button:active {
                    transition: 0.2s;
                    transform: scale(0.95);
                }
                .inactive-button {
                    background-color: var(--gray-color);
                    cursor: not-allowed;
                }
                .inactive-button:hover {
                    background-color: initial;
                }
            }
        }

        .content.hideStep {
            display: none;
        }
    }
}

@media screen and (max-width: 1440px) {
    .wrapper {
        .step {
            .content {
                .form-wrapper {
                    flex-direction: column;
            
                    .form {
                        width: 50%;
                    }
                }
            }
        }
    }    
}

@media screen and (max-width: 1024px) {
    .wrapper {
        .step {
            .content { 
                .form-wrapper {
                    .form {
                        width: 75%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 12px 12px;
        gap: 12px;

        .step {
            .title {
                p {
                    padding-left: 0px;

                    font-size: 36px;
                }
            }
            .content {
                .caption {
                    p {
                        padding-left: 0px;

                        font-size: 20px;
                    }
                }
                .cart-wrapper {
                    padding: 0px;
                }
                .form-wrapper {
                    .form {
                        padding: 12px 0px;
                    }
                }
                .actions {
                    padding: 0px;
                }
            }            
        }
    }
}

@media screen and (max-width: 512px) {
    .wrapper {
        .step {
            .content {
                .form-wrapper {
                    .form {
                        width: 100%;
                    }
                }
            }
        }
    }    
}