<div class="wrapper">
    <div class="step first-step">
        <div class="title">
            <p>перший крок</p>
        </div>
    
        <div class="content">
            <div class="caption">
                <p>перевірте вашу корзину</p>
            </div>
            <div class="cart-wrapper">
                <app-first-step></app-first-step>
            </div>
            <div class="actions">
                <button
                (click)="openNextStep(2)"
                >далі</button>
            </div>
        </div>    
    </div>

    <div class="step second-step">
        <div class="title">
            <p>другий крок</p>
        </div>
    
        <div
        class="content"
        [class.hideStep]="hideSecondStep">
            <div class="caption">
                <p>введіть контактну інформацію</p>
            </div>
            <form
            class="form-wrapper"
            [formGroup]="customerData">
                <div class="form">
                    <p>і'мя та прізвище</p>
                    <input type="text" name="name" formControlName="inputName" required>
                </div>
                <div class="form">
                    <p>емейл</p>
                    <input type="email" name="email" formControlName="inputEmail" required>
                </div>
                <div class="form">
                    <p>номер телефону</p>
                    <input type="text" name="phone" formControlName="inputPhone">
                </div>
            </form>
            <div class="actions">
                <button
                (click)="openNextStep(3)"
                >далі</button>
            </div>
        </div>
    </div>

    <div class="step third-step">
        <div class="title">
            <p>третій крок</p>
        </div>
    
        <div
        class="content"
        [class.hideStep]="hideThirdStep">
            <div class="caption">
                <p>введіть дані доставки</p>
            </div>
            <form
            class="form-wrapper"
            [formGroup]="deliveryData">
                <div class="form">
                    <p>країна</p>
                    <input type="text" name="country" formControlName="inputCountry">
                </div>
                <div class="form">
                    <p>місто</p>
                    <input type="text" name="city" formControlName="inputCity">
                </div>
                <div class="form">
                    <p>номер відділення</p>
                    <input type="text" name="postOffice" formControlName="inputPostOffice">
                </div>
            </form>
            <div class="actions">
                <button
                (click)="openNextStep(4)"
                >далі</button>
            </div>
        </div>
    </div>

    <div class="step fourth-step">
        <div class="title">
            <p>четвертий крок</p>
        </div>
    
        <div
        class="content"
        [class.hideStep]="hideFourthStep">
            <div class="caption">
                <p>введіть дані оплати</p>
            </div>
            <form 
            class="form-wrapper"
            [formGroup]="paymentData">
                <div class="form">
                    <p>номер картки</p>
                    <input class="disabled-form" type="text" name="cardNumber" formControlName="inputCardNumber">
                </div>
                <div class="form">
                    <p>термін дії</p>
                    <input class="disabled-form" type="text" name="cardExpiration" formControlName="inputCardExpiration" >
                </div>
                <div class="form">
                    <p>cvc код</p>
                    <input class="disabled-form" type="text" name="cardCVC" formControlName="inputCardCVC">
                </div>
            </form>
            <div class="payment" style="display: none;">
                <button>йоооу оплатити</button>
            </div>
            <div class="actions">
                <button
                (click)="openNextStep(5)"
                >далі</button>
            </div>
        </div>
    </div>

    <div class="step fourth-step">
        <div class="title">
            <p>п'ятий крок</p>
        </div>
    
        <div
        class="content"
        [class.hideStep]="hideFifthStep">
            <div class="caption">
                <p>ви можете ввести додаткові дані</p>
            </div>
            <form
            class="form-wrapper"
            [formGroup]="extraData">
                <div class="form">
                    <p>промокод</p>
                    <input type="text" name="promoCode" formControlName="inputPromoCode">
                </div>
                <div class="form">
                    <p>коментар/побажання</p>
                    <input type="text" name="comment" formControlName="inputComment">
                </div>
            </form>
            <div class="actions">
                <button
                (click)="createOrder()"
                >оформити замовлення</button>
            </div>
        </div>
    </div>
</div>