.wrapper {
    padding: 22px 42px;

    display: flex;
    flex-direction: column;
    gap: 22px;

    .step {
        display: flex;
        flex-direction: column;

        padding: 12px;

        gap:12px;

        background-color: var(--white-color);
        box-shadow: var(--medium-shadow);

        .title {
            p {
                font-size: 52px;
                font-weight: 600;
                color: var(--light-gray-color);

                user-select: none;
                // cursor: pointer;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 22px;

            .caption {
                p {
                    font-size: 24px;
                    
                }
            }
            // .form-wrapper {
                
            // }

            .actions {
                button {
                    padding: 12px 42px;

                    border: none;
                    background-color: var(--yellow-color);

                    font-weight: 600;
                    font-size: 16px;
                }
                button:hover {
                    transition: 0.2s;
                    background-color: var(--yellow-hover-color);
                }
                button:active {
                    transition: 0.2s;
                    transform: scale(0.95);
                }
            }
        }

        .content.hideStep {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 22px 12px;

        .step {
            .title {
                p {
                    font-size: 36px;
                }
            }
    
            .content {
                .caption {
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}