<div class="wrapper">
    <div class="reviews-data">
        <div class="reviews-number">
            <p>{{this.reviewsCount()}} {{this.reviewsCountString()}}</p>
        </div>
        <div *ngIf="productRating() !== 0" class="product-rating">
            <ng-container *ngFor="let item of getRatingArray(); let i = index">
              <div class="star">&#9733;</div>
            </ng-container>
        </div>          
          
    </div>

    <div class="reviews">
        @for (review of this.reviews(); track $index) {
            <div class="review">
                <div class="user-data">
                    <div class="picture">
                        <!-- Should be changed -->
                        <img
                        *ngIf="review.userPicture && review.userPicture != 'https://ctrl-shop-back.vercel.app/defaultPicture/'"
                        [src]="review.userPicture"
                        [alt]="review.userName.charAt(0)">

                        
                        <div
                        *ngIf="!review.userPicture">
                            {{review.userName.charAt(0)}}
                        </div>
                    </div>
                    <div class="name">
                        <p>{{review.userName}}</p>
                    </div>
                </div>
                <div class="review-data">
                    <div class="review-rating">
                        <ng-container *ngFor="let item of [].constructor(+review.reviewRating); let i = index">
                            <div class="star">&#9733;</div>
                        </ng-container>
                    </div>
                    <div class="review-text">
                        <p>{{review.reviewText}}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>