// * {
//     outline: 1px solid red;
// }

.wrapper {
    .header {
        padding: 14px 42px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 14px;
        justify-content: space-between;

        user-select: none;

        .navigation {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 10px;

            .logo {
                p {
                    font-size: 32px;
                    font-weight: 300;
                    color: var(--black-color);

                    font-family: var(--highlight-font);
                    cursor: pointer;
                }

                p:hover {
                    transition: 0.8s ease-out;
                    transition-delay: 0.3s;
                    background-color: var(--yellow-color);
                }
            }

            .selections {
                position: relative;
                .clothes-button {
                    p {
                        position: relative;

                        font-size: 24px;
                        font-weight: 400;
                        color: var(--black-color);

                        cursor: pointer;
                    }
                    p::before {
                        content: "";
                        display: block;
                        position: absolute;
            
                        width: 0%;
                        height: 3px;
                        
                        bottom: -2px;
                        
                        background-color: var(--yellow-color);
                        transition: 0.2s ease-in-out;
                    }
                    p:hover::before {
                        width: 100%;
                        transition: 0.2s ease-in-out;
                    }
                    p.clothesMenuVisibility::before {
                        width: 100%;
                        transition: 0.2s ease-in-out;
                    }
                }

                .clothes-menu {
                    display: none;

                    position: absolute;
                    width: fit-content;
                    top: 34px;
                    z-index: 10;

                    background-color: var(--white-color);

                    box-shadow: var(--medium-reverse-shadow), var(--medium-shadow);

                    div {
                        p {
                            padding: 10px 24px;

                            font-size: 14px;
                            font-weight: 400;
                            color: var(--black-color);

                            cursor: pointer;
                        }
                    }
                    div:hover {
                        box-shadow: var(--small-reverse-shadow), var(--small-shadow)
                    }
                    div:active {
                        p {
                            transition: 0.2s;
                            transform: scale(0.95);
                        }                
                    }
                }
                .clothes-menu.clothesMenuVisibility {
                    display: flex;
                    flex-direction: column;
                }
            }
            
        }

        .actions {
            position: relative;

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                button {
                    padding: 5px;
                    display: flex;

                    border: none;
                    background-color: var(--white-color);
                    
                    cursor: pointer;

                    img {
                        width: 28px;
                        height: 28px;
                        pointer-events: none;
                    }
                }
                button:hover {
                    transition: 0.3s;
                    box-shadow: var(--small-shadow);
                }
                button:active {
                    transition: 0.2s;
                    transform: scale(0.9);
                }
            }

            
        }
    }

    position: relative;

    .cart-widget {
        display: none;
        position: absolute;
        right: 0;
        z-index: 5;

        min-width: 450px;
    }
    .cart-widget.visibleCart {
        display: block;
    }
}

.hideSelections {
    display: none;
}

.hideCart {
    display: none;
    * {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    .wrapper {
        .header {
            padding: 14px;

            gap: 4px
        }
        
        .cart-widget {
            width: 100%;
            min-width: initial;

            box-sizing: border-box;
        }
    }
}