// * {
//     outline: 1px solid red;
// }

.wrapper {
    padding: 13px 42px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    user-select: none;

    .navigation {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 10px;

        .logo {
            p {
                font-size: 32px;
                font-weight: 300;
                color: var(--black-color);

                font-family: var(--font-highlight);
                cursor: pointer;
            }

            p:hover {
                transition: 0.8s ease-out;
                transition-delay: 0.3s;
                background-color: var(--yellow-color);
            }
        }

        .selections {
            position: relative;
            .clothes-button {
                p {
                    position: relative;

                    font-size: 24px;
                    font-weight: 400;
                    color: var(--black-color);

                    cursor: pointer;
                }
                p::before {
                    content: "";
                    display: block;
                    position: absolute;
        
                    width: 0%;
                    height: 3px;
                    
                    bottom: -2px;
                    
                    background-color: var(--yellow-color);
                    transition: 0.2s ease-in-out;
                }
                p:hover::before {
                    width: 100%;
                    transition: 0.2s ease-in-out;
                }
                p.visible::before {
                    width: 100%;
                    transition: 0.2s ease-in-out;
                }
            }

            .clothes-menu {
                display: none;

                position: absolute;
                width: fit-content;
                top: 34px;
                z-index: 5;

                background-color: var(--white-color);
                border-radius: 4px;

                box-shadow: var(--medium-shadow);

                div {
                    p {
                        padding: 8px 24px;

                        font-size: 14px;
                        font-weight: 400;
                        color: var(--black-color);

                        cursor: pointer;
                    }
                }
                div:hover {
                    box-shadow: var(--small-shadow)
                }
                div:active {
                    p {
                        transition: 0.2s;
                        transform: scale(0.95);
                    }                
                }
            }
            .clothes-menu.visible {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 4px 0px;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        div {
            button {
                padding: 5px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: flex;

                background-color: var(--white-color);

                img {
                    width: 28px;
                    height: 28px;
                }
            }
            button:hover {
                transition: 0.3s;

                border-radius: 4px;
                box-shadow: var(--small-shadow)
            }
            button:active {
                transform: scale(0.9);
            }
        }
    }
}