<div class="wrapper">
    <div class="reviews-data">
        <div class="reviews-number">
            <p>{{this.reviewsCount()}} {{this.reviewsCountString()}}</p>
        </div>
        <div class="product-rating">
            <div class="star">
                *
            </div>
            <div class="star">
                *
            </div>
            <div class="star">
                *
            </div>
        </div>
    </div>

    <div class="new-review">
        <form
        class="form-wrapper"
        [formGroup]="customerReview">
            <input type="text" name="review" formControlName="customerReviewText">
        </form>

        <button
        class="send-review"
        (click)="sendReview()">
            <p>надіслати</p>
        </button>
    </div>

    <div class="reviews">
        @for (review of reviews(); track $index) {
            <div class="review">
                <div class="user-data">
                    <div class="picture">
                        <!-- <img > -->
                        <div>Л</div>
                    </div>
                    <div class="name">
                        <p>{{review.userName}}</p>
                    </div>
                </div>
                <div class="review-data">
                    <div class="review-rating">
                        <!-- @for (item of review.reviewRating; track $index) {
                            <div class="star">
                                *
                            </div>
                        } -->
                        <ng-container *ngFor="let item of [].constructor(+review.reviewRating); let i = index">
                            <div class="star">&#9733;</div>
                        </ng-container>
                    </div>
                    <div class="review-text">
                        <p>{{review.reviewText}}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>