<div class="wrapper">
    <div class="title">
        <p>перший крок</p>
    </div>

    <div class="content">
        <div class="caption">
            <p>перевірте вашу корзину</p>
        </div>
        <div class="cart">
            <div class="item">
                <div class="picture">
                    <img src="assets/reyechka.png">
                </div>
                <div class="info">
                    <p>шарффффф</p>
                    <p>599 грн.</p>
                </div>
            </div>

            <div class="item">
                <div class="picture">
                    <img src="assets/reyechka.png">
                </div>
                <div class="info">
                    <p>шарффффф</p>
                    <p>599 грн.</p>
                </div>
            </div>
        </div>
        <div class="actions">
            <button>далі</button>
        </div>
    </div>
</div>