<div class="wrapper">
    <div class="cart">
        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шарффффф</p>
                <p>599 грн.</p>
            </div>
        </div>

        <div class="item">
            <div class="picture">
                <img src="assets/reyechka.png">
            </div>
            <div class="info">
                <p>шарффффф</p>
                <p>599 грн.</p>
            </div>
        </div>
    </div>
</div>