<div class="wrapper">
    <div class="title">
        <p>тут знаходяться ваші збережені шмотки</p>
        <p>ми сповістимо вас, якщо збережений одяг, якого зараз немає в наявності, з'явиться на складі</p>
    </div>
    
    @if (this.favoritesList().length > 0) {
        <div class="favorite-list">
        @for (item of this.favoritesList(); track $index) {
            <div class="item">
                <div class="picture">
                    <a href="product/{{item.productId}}">
                        <img src="assets/reyechka.png">
                    </a>
                </div>
                <div class="not-picture">
                    <div class="info">
                        <p>прікольній шаааарффффф</p>
                        <p>є в наявності</p>
                        <p>599 грн.</p>
                    </div>
                    <div class="actions">
                        <button
                        (click)="removeFromFavorite(item.productId)"
                        ><p>видалити</p></button>
                        <button
                        (click)="addToCart(item.productId)"
                        ><p>в корзину</p></button>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    @else if (this.favoritesList().length === 0) {
        <div class="empty-list">
            <p>ви ще не зберегли жодного товару</p>
            <a href="clothes"><button>подивитися одяг</button></a>
        </div>
    }
    
</div>