<div class="wrapper">
    <div class="filter"
    [class.filterVisibility]="filterVisibility"
    >
        <div class="filter-content">
            <app-clothes-filter></app-clothes-filter>
        </div>
        <div class="filter-button">
            <button (click)="toggleFilter()">
                <img src="icons/general/heart.svg">
            </button>
        </div>
    </div>
    <div class="content">
        <app-clothes-sorting
        [sortByName]="this.sortByName()"
        [sortByPrice]="this.sortByPrice()"
        [hideOutOfStock]="this.hideOutOfStock()"
        ></app-clothes-sorting>

        <app-clothes-feed
        [category]="this.category()"
        [pageNumber]="this.pageNumber()"
        [sortByName]="this.sortByName()"
        [sortByPrice]="this.sortByPrice()"
        [hideOutOfStock]="this.hideOutOfStock()"
        ></app-clothes-feed>
    </div>
</div>