/* You can add global styles to this file, and also import other style files */

:root {
    --black-color: #392526;
    --dark-black-color: #121111;
    --dark-gray-color: #787676;
    --gray-color: #A3A1A2;
    --light-gray-color: #F2F2F2;
    --white-color: #f5f5f5;
}

p {
    margin: 0;
}