@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --black-color: #0e0e0e;
    --black-hover-color: #242424;
    --dark-color: #241d1e;
    --dark-gray-color: #787676;
    --gray-color: #c5c5c5;
    --light-gray-color: #e9e9e9;
    --white-color: #fcfcfc;
    --yellow-color: #ffee00;
    --yellow-hover-color: #f0e000;
    --dark-yellow-color: #dbba00;


    --regular-font: rubik, Arial, Helvetica, sans-serif;
    --highlight-font: podkova, monospace;

    --small-shadow: 2px 2px 4px 4px rgba(28, 23, 23, 0.05);
    --medium-shadow: 4px 4px 8px 8px rgba(28, 23, 23, 0.05);
    --big-shadow: 5px 5px 10px 10px rgba(28, 23, 23, 0.05);

    --small-reverse-shadow: 2px 2px 4px 4px rgba(230, 230, 230, 0.1);
    --medium-reverse-shadow: 4px 4px 8px 8px rgba(220, 220, 220, 0.1);
}

::selection {
    background-color: var(--yellow-color);
    color: var(--black-color);
}

* {
    font-family: var(--regular-font);
    // outline: 1px red solid;
}

body, html {
    padding: 0;
    margin: 0;
    
    font-family: var(--regular-font);
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

// Premade styles

// Text button
.text-button {
    width: max-content;
    padding: 12px 28px;                       
    
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
    background-color: var(--yellow-color);

    border: none;
    cursor: pointer;
}
.text-button:hover {
    transition: 0.3s;
    box-shadow: var(--medium-shadow);
}
.text-button:active {
    transition: 0.2s;
    transform: scale(0.95);
}